apps-code/community-apps/build
apps-code/community-apps/export
apps-code/community-apps/version
apps-code/community-apps/Makefile.local
apps-code/community-apps/packer/update_metadata.log

appliances/*/.*/*
!appliances/*/.*/.placeholder
!appliances/*/.*/*/.placeholder

.vscode
*.DS_Store
__pycache__/
